body {
    margin: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1d242b;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 25px;
    margin-bottom: 75px;
    color: #e3e4e6;
    text-align: center;
    background-color: #1d242b;
    opacity: 0.8;
}

h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #cacdcf;
}

a:hover {
    color: #6faa52;
}

input {
    width: 100%;
    color: #fff;
    background-color: #82888d;
    font-size: 16px;
    outline: none;
    border: none;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: #1d242b;
    background: url(../img/bcg.webp) no-repeat;
    background-size: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.dark-box,
.whitebox {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 75px;
    background-color: #1d242b;
    opacity: 0.8;
}

.echo {
    margin: 0 auto;
    padding: 10px 0;
    color: #12171b;
    font-size: 25px;
    text-align: center;
}

.button {
    display: inline-block;
    color: #12171b;
    padding: 100px 75px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 1s ease;
    cursor: pointer;
}

.button:disabled:hover {
    color: #12171b;
    background-color: #3b3f42;
}

.button:hover {
    color: #fff;
    background-color: #6faa52;
}

.whitebox {
    padding-top: 0;
    background-color: #fff;
    opacity: 0.9;
    color: #12171b;
}

.head {
    justify-content: space-between;
    background-color: #3b3f42;
}

.head p {
    padding: 0 75px;
    color: #fff;
}

.coin {
    display: block;
    background: url(../img/coin.png) no-repeat;
    font-size: 35px;
    cursor: pointer;
}

.orel {
    border: none;
    width: 194px;
    height: 190px;
    background-position: -6px -10px;
}

.reshka {
    border: none;
    width: 185px;
    height: 192px;
    background-position: -218px -9px;
}

.form {
    padding: 47px 0 50px;
}

.border {
    padding: 50px 25px;
    color: #fff;
    background-color: #82888d;
    font-size: 20px;
    border-radius: 5px;
}

.nextbutt {
    margin: 10px;
    margin-left: 44%;
    padding: 15px 55px;
    color: #fff;
    background-color: #82888d;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 1s ease;
}

.nextbutt:hover {
    color: #fff;
    background-color: #6faa52;
    border-radius: 5px;
}

